# Pastas 
FEITO/
__pycache__/
resultados/
livros_originais/
resultados_enviados/
proximos/
teste/__pycache__
modules/__pycache__
teste/main_debug.py 
teste/run_tests.py 
teste/test_figura.py 
teste/test_trace_caption.py 
teste/testar_juncao.py 
teste/teste_reranking.py 
/logs 
logs 
modules/__pycache__
/modules/__pycache__

.env
processamento_livros.log 
upload_log.txt

processed_files.log

nul

.venv 
/.venv


resultados 
/resultados 
